.topbar{
	top:0px;
	width:100%+16px;
	height:50px;
	background-color:#000000;
	position:fixed;
	left:0px;
	right:0px;
	z-index:10;
	border-bottom-color:black;
	border:1px;
	border-style:solid;
}

#imglinneos{
	position:fixed;
	height:40px;
	width:40px;
	left:5px;
	top:5px;
	border-radius:25px;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
}
#google{
	height:30px;
	width:30px;
	float:right;
	position:relative;
	left:32%;
	top:10px;
}

#Laurits{
	float:right;
	position:relative;
	left:32%;
	right:2px;
	color:#ffffff;
}

#rightbar{
	width:250px;
	height:1380px;
	position:absolute;
	background-color:#DDDDDD;
	top:56px;
	left:-0.01%;
	padding:0px;
	z-index:1;
	border-style:solid;
	border-color:#000000;
	border-width: 0px 2px 0px 0px;
}

#mainbar{
	height:1380px;
	width:100%-250px;
	position:relative;
	top:35px;
	background-color:#FFFFFF;
	left:8px;
	padding-left:250px;
}

.maintext{
	color:;
	
}

#fotoflower{
	width:1000px;
	height:562px;
	position:relative;
	left:50%-281px;
	border:5px;
	border-style:solid;
	border-bottom-color:gray;
	border-right-color:gray;
}

#billedtekst{
	border:2px;
	border-style:SOLID;
	margin:0px;
}

.linksright{
	color:#000000;
	z-index:2;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:1px;
	border-style:solid;
	border-color:#000000;
	width:200px;
	height:21px;
	position:relative;
	left:0.01%;
}

#date{
	color:#000000;
	z-index:2;
	border-bottom:1px;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-style:solid;
	border-color:#000000;
	width:200px;
}

.linkrighta{
	color:#FFCC00;
}

a:visited{
	text-decoration:none;
}
a:link{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	border-color:black;
	font-size:90%;
}
#Home{
	width:11%;
	height:25px;
	Background-color:#ffffff;
	Border-width:1px;
	border-right-style:solid;
	border-bottom-left-radius:25px;
	position:relative;
	right:33%;
	text-align:center;
	float:right;
	color:black;
	border-right-color:#000000;	
}
#Nextpage{
	width:11%;
	height:25px;
	Background-color:#FFFFFF;
	Border-width:1px;
	border-left-style:solid;
	border-right-style:solid;
	text-align:center;
	position:relative;
	float:right;
	right:33%;
	color:black;
	border-left-color:#000000;
	border-right-color:#000000;
}
#Andthenext{
	width:11%;
	height:25px;
	Background-color:#FFFFFF;
	Border-width:1px;
	border-left-style:solid;
	border-bottom-right-radius:25px;
	text-align:center;
	position:relative;
	right:33%;
	float:right;
	color:black;
	border-left-color:#000000;
}

#buttontest{
	float:left;
	position:relative;
	background:blue;
	width:130px;
	}